
<footer class="footer">
  <div class="footer-top">
    <div class="networks">
      <button mat-icon-button>
        <i class="fab fa-facebook-f"></i>
      </button>
      <button mat-icon-button>
          <i class="fab fa-youtube"></i>
      </button>
      <button mat-icon-button>
        <i class="fab fa-instagram"></i>
      </button>
    </div>
    <div class="legend">
      <h4>Ayuda, ayudandonos...</h4>
    </div>
  </div>
  <div class="footer-bottom">
    © {{ year }}. Derechos reservados.
  </div>
</footer>
