$orange: #ed7902;
$green: #009f4d;
$yellow: #ffdd00;

@mixin max-min-width {
  width: 100%;
  max-width: 600px;
}

.bnt-navs {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}

.div-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
}

.group-radios {
  display: inline-flex;
  flex-direction: column;

  mat-radio-button {
    margin: 5px;
  }
}

.step-one {
  @include max-min-width();

  button {
    margin-top: 25px;
    width: 100%;
    background-color: #3B5998;
    color: white;

    i {
      font-size: 1.1em;
      margin-right: 5px;
    }
  }
}

.stretched-tabs {
  @include max-min-width();
}

.mat-form-field {
  margin-top: 25px;
  width: 100%;
}

.resume{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    margin-bottom: 10px;
  }

  .b-alias {
    color: $green;
  }
}

.img-thanks {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.contact-thanks {
  list-style: none;
  margin-top: 30px;
  padding-left: 0;

  li {
    margin-bottom: 5px;
    color: #5e5e5e;

    .icon-whatsapp {
      color: green;
    }
    .icon-telegram {
      color: #0088cc;
      font-size: 1.5em;
    }
    .icon-email {
      color: gray;
    }
  }
}

.container {
  padding: 0;
}
